.app-logo {
  display: flex;
  align-items: center;
}
.active-link {
  font-weight: bold;
}
.header {
  position: fixed;
  border-bottom: 1px solid #b5b5b596;
  padding: 0;
  background: white;
  z-index: 1;
  &__logout {
    height: 100%;
    color: purple;
    font-weight: bold;
  }
}
.user-info {
  padding-right: 0;
}
.user-name {
  align-items: center;
  display: flex;
}
