.active-link {
  font-weight: bold;
}
.header {
  position: fixed;
  border-bottom: 1px solid #b5b5b596;
  padding: 0;
  background: white;
  z-index: 1;
  &__app_info {
    display: flex;
    align-items: center;
    &__app_icon {
      max-height: 48px;
    }
  }
  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
    &__button {
      height: 100%;
    }
    &__user_info {
      padding-right: 0;
      height: 100%;
      &__username {
        align-items: center;
        display: flex;
      }
    }
  }
  &__logout {
    height: 100%;
    color: purple;
    font-weight: bold;
  }
}
