<mat-toolbar fxLayout="row" class="header">
  <span fxFlex="15%" fxFlex.lt-sm="20px"></span>

  <div fxFlex="auto" fxLayoutAlign="space-between center" fxFlexFill>
    <div class="header__app_info">
      <img class="header__app_info__app_icon" src="assets/icons/chuck.svg" />
      <span fxHide.lt-md="true"> Chuck Norris Jokes </span>
    </div>
    <nav *ngIf="authService.getUser()" class="header__nav">
      <!-- <a mat-button routerLink="/jokes" routerLinkActive="active-link"> -->
      <button
        mat-button
        class="header__nav__button"
        routerLink="/jokes"
        routerLinkActive="active-link"
      >
        JOKES
      </button>
      <button
        mat-button
        class="header__nav__button"
        routerLink="/favourites"
        routerLinkActive="active-link"
      >
        <span
          matBadge="{{
            jokesService.favouriteJokes.length
              ? jokesService.favouriteJokes.length
              : null
          }}"
          matBadgeOverlap="false"
          matBadgeColor="warn"
          >FAVOURITES</span
        >
      </button>
    </nav>
    <nav *ngIf="authService.getUser()" class="header__nav">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="header__nav__user_info"
      >
        <span
          fxShow="true"
          fxShow.lt-sm="false"
          class="header__nav__user_info__username"
        >
          {{
            authService.getUser().user.firstname +
              ' ' +
              authService.getUser().user.lastname
          }}
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
        <mat-icon fxShow="false" fxShow.lt-sm="true">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>LOGOUT
        </button>
      </mat-menu>
    </nav>
  </div>

  <span fxFlex="15%" fxFlex.lt-sm="20px"></span>
</mat-toolbar>
