<mat-toolbar fxLayout="row" class="header">
  <span fxFlex="15%" fxFlex.lt-sm="20px"></span>

  <div fxFlex="auto" fxLayoutAlign="space-between center" fxFlexFill>
    <div class="app-logo">
      <img style="max-height: 48px" src="assets/icons/chuck.svg" />
      <span fxHide.lt-md="true"> Chuck Norris Jokes </span>
    </div>
    <nav *ngIf="authService.getUser()">
      <a mat-button routerLink="/jokes" routerLinkActive="active-link">
        JOKES
      </a>
      <a mat-button routerLink="/favourites" routerLinkActive="active-link">
        <span
          matBadge="{{
            jokesService.favouriteJokes.length
              ? jokesService.favouriteJokes.length
              : null
          }}"
          matBadgeOverlap="false"
          matBadgeColor="warn"
          >FAVOURITES</span
        >
      </a>
    </nav>
    <nav *ngIf="authService.getUser()">
      <!-- <a mat-button (click)="logout()">
        <span fxShow="true" fxShow.lt-sm="false">LOGOUT</span>
        <mat-icon fxShow="false" fxShow.lt-sm="true">exit_to_app</mat-icon>
      </a> -->
      <button mat-button [matMenuTriggerFor]="menu" class="user-info">
        <span fxShow="true" fxShow.lt-sm="false" class="user-name">
          {{
            authService.getUser().user.firstname +
              ' ' +
              authService.getUser().user.lastname
          }}
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
        <mat-icon fxShow="false" fxShow.lt-sm="true">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">LOGOUT</button>
      </mat-menu>
    </nav>
  </div>

  <span fxFlex="15%" fxFlex.lt-sm="20px"></span>
</mat-toolbar>
