<mat-toolbar fxLayout="row" class="header">
  <span fxFlex="15%" fxFlex.lt-sm="20px"></span>
  <div fxFlex="auto" fxLayoutAlign="space-between center" fxFlexFill>
    <div
      style="display: flex;
    align-items: center;"
    >
      <img style="max-height: 48px" src="assets/icons/chuck.svg" /> Chuck Norris
      Jokes
    </div>
    <div *ngIf="authService.getUser()">
      <button class="header__logout" mat-button (click)="logout()">
        LOGOUT
      </button>
    </div>
  </div>

  <span fxFlex="15%" fxFlex.lt-sm="20px"></span>
</mat-toolbar>
