.joke {
  margin-bottom: 16px;
  cursor: pointer;

  transition: box-shadow 0.3s;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon {
      color: red;
    }
  }
  &:hover {
    box-shadow: 0 0 40px rgba(33, 33, 33, 0.2);
  }
}
