<div class="jokes-header">
  <h3>JOKES</h3>
  <button style="height: 36px" mat-raised-button (click)="fetchJokes()">
    REFRESH JOKES
  </button>
</div>
<mat-card *ngFor="let joke of jokes" class="joke-card">
  <div class="joke-item">
    <div [innerHtml]="joke.joke"></div>
    <button mat-icon-button (click)="changeFavouriteStatusOfJoke(joke)">
      <mat-icon *ngIf="joke.isFavourite" style="color: red"> favorite </mat-icon
      ><mat-icon *ngIf="!joke.isFavourite"> favorite_border </mat-icon>
    </button>
  </div>
</mat-card>
