.jokes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.joke-card {
  margin-bottom: 16px;
}
.joke-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
